<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Servicios Wamtech - Sistema de monitoreo de medidores el&eacute;ctricos</title>
		<!-- css -->
		<link type="text/css" href="css/smoothness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />	
		<link type="text/css" href="css/style.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" media="screen" href="css/ui.jqgrid.css" />
		<!-- js core jquery-->
		<script type="text/javascript" src="js/jquery/core/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="js/jquery/core/jquery-ui-1.8.11.custom.min.js"></script>
		<script type="text/javascript" src="js/jquery/core/ui.datepicker-es.min.js"></script>
		<!-- js jqgrid-->
		<script type="text/javascript" src="js/jquery/grid/grid.locale-es.js" ></script>
		<script type="text/javascript" src="js/jquery/grid/jquery.jqGrid.min.js"></script>
		<!-- js plugin jquery-->
		<script type="text/javascript" src="js/cplugins/jquery/jquery.cutils.js"></script>
		<!-- js util-->
		<script type="text/javascript" src="js/utils/utils.js"></script>
		<script type="text/javascript" src="js/utils/utils.commons.request.bin.js"></script>
		<script type="text/javascript" src="js/utils/webtoolkit.base64.js"></script>
	</head>
	<body>
    	<div>
			<input type="hidden" id="hdn-fecha-inicial">
    		<input type="hidden" id="hdn-fecha-final">
    		<input type="hidden" id="hdn-perfil-usuario" value="$usuario.perfil.codigo">
				<input type="hidden" id="hdn-id-usuario" value="$usuario.id">
            <div id="modal-editar-remarcador" title="Editar remarcador"></div>	
            <ul id="modal-lista-errores" title="Lista de errores"></ul>
    		<div id="div-contenedor-principal">
				<div><img src="images/bg_wamtech.png" width="970px" height="120px"/></div>
    			<div id="div-contenedor-fitro">
                    <div align="right"><a href="main.htm?perform=login">Cerrar sesi&oacute;n</a></div>
					<div align="right">Usuario: <b>$usuario.nombre $usuario.apellidoPaterno $usuario.apellidoMaterno</b></div>
                    <h2>Buscar</h2>
    				<table cellpadding="0" cellspacing="0" border="0" width="100%">
    					<col width="90">
    					<col width="240">
    					<col width="90">
    					<col width="240">
    					<tr>
    						<td>
    							Fecha lectura inicial:
                            </td>
    						<td>
    							<input type="text" id="txt-fecha-inicial" readonly style="width:80px;margin-right:4px;">
    							<select id="cmb-horas-lectura-inicial">
    								<option value="-1">hrs</option>
    								#foreach($hora in $horas)
    									<option value="$hora">$hora</option>
    								#end	
    							</select>
    							<select id="cmb-minutos-lectura-inicial">
    								<option value="-1">min</option>
    								#foreach($minuto in $minutos)
    									<option value="$minuto">$minuto</option>
    								#end	
    							</select>
                            </td>
    						<td>
    							Fecha lectura final:
                            </td>
    						<td>
    							<input type="text" id="txt-fecha-final" readonly style="width:80px;margin-right:4px;">
    							<select id="cmb-horas-lectura-final">
    								<option value="-1">hrs</option>
    								#foreach($hora in $horas)
    									<option value="$hora">$hora</option>
    								#end	
    							</select>
    							<select id="cmb-minutos-lectura-final">
    								<option value="-1">min</option>
    								#foreach($minuto in $minutos)
    									<option value="$minuto">$minuto</option>
    								#end	
    							</select>
                            </td>
                        </tr>
    					<tr>
    						<td colspan="2">
    							<label>Centro de costo:</label>
    							<select id="cmb-centro-costo" style="width:180px;margin-right:5px">
    								<option value="-1">Seleccione</option>
    								#foreach($centroCosto in $centrosCostos)
    									<option value="$centroCosto.id">$centroCosto.nombre</option>
    								#end	
    							</select>
                            </td>
    						<td colspan="2">
    							<label>Cuenta:</label>
    							<select id="cmb-cuenta" style="width:180px;margin-right:5px">
    								<option value="-1">Seleccione</option>
    								#foreach($cuenta in $cuentas)
    									<option value="$cuenta.id">$cuenta.nombre</option>
    								#end	
    							</select>	
                            </td>
                        </tr>
    					<tr class="actions">
    						<td colspan="4">
    							<button id="btn-buscar-remarcador">Buscar</button>
								<button id="btn-exportar-remarcadores-csv">CSV</button>
                            </td>
                        </tr>
    				</table>
    			</div>
                <div id="div-contenedor-grid">
					<div id="div-info-resultado-buesqueda"></div>
					<div style="color: red;" id="div-errores-resultado-buesqueda"></div>
                	<table id="tbl-remarcador"></table>
                	<div id="div-opciones-pagina"></div>
                </div>
    		</div>
			#parse("frames/foot.vm")
    	</div>
    </body>
</html>
<script type="text/javascript" src="js/remarcador/remarcador.js"></script>