body {
	font-size: 12px;
	font-family: Arial, sans-serif;
	margin:0;
	background:url(../images/bg-wamtech.jpg) repeat-x 0 0 #92c4eb;
}


.wrapper-bottom{
	padding-bottom:250px;
	background:url(../images/wamtech-bottom.png) no-repeat 0 bottom;
}

#div-contenedor-principal {
	width: 970px;
	margin-left: auto;
	margin-right: auto;
	padding:20px;
	padding-top:136px;
	background:url(../images/top-wamtech.jpg) no-repeat 0 0;
}

#div-contenedor-fitro {
	background:#fff;
	opacity:0.85;
	padding:10px 10px 10px 10px;
}

#div-contenedor-fitro h2{
	display:block;
	margin:0;
	padding:10px 0;
}

#div-contenedor-fitro table td{
	padding:10px 4px;
	border-bottom:1px solid #ddd
}

#div-contenedor-fitro input{
	border:1px solid #666;
}

#div-contenedor-fitro table tr.actions td{
	padding:14px 4px;
	border-bottom:none;
}

#div-contenedor-fitro table tr.actions td button{
	background:url(../images/bg-buttons.png) repeat-x 0 top;
	border:none;
	cursor:pointer;
	padding:5px 8px;
	color:#fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
		border-radius: 4px;
	 font-size:13px;
	 font-weight:bold;
	 width:90px;
 text-align:center;
	text-shadow:1px 1px 0px #4d2000;
}

#div-contenedor-fitro table tr.actions td button:hover {
	background-position:0 bottom;
}

#div-contenedor-grid{
	padding:10px 0;
}