body {
	font-size: 12px;
	font-family: Arial, sans-serif;
	margin:0;
	background:url(../images/bg-wamtech.jpg) repeat-x 0 0 #92c4eb;
}

#div-contenedor-principal {
	width: 970px;
	margin-left: auto;
	margin-right: auto;
	padding:20px;
	background:url(../images/top-wamtech.jpg) no-repeat 0 0;
}

#div-contenedor-fitro {
	background:#fff;
	opacity:0.85;
	padding:10px 10px 10px 10px;
}

#div-contenedor-fitro h2{
	display:block;
	margin:0;
	padding:10px 0;
}

#div-contenedor-fitro table td{
	padding:10px 4px;
	border-bottom:1px solid #ddd
}

#div-contenedor-fitro table td.actions{
	padding:14px 4px;
	border-bottom:none;
}

#div-contenedor-fitro table td.actions input{
	background:url(../images/bg-buttons.png) repeat-x 0 top;
	border:none;
	cursor:pointer;
	padding:7px 32px;
	color:#fff;
	font-size:14px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
 *font-size:14px;
 *font-weight:bold;
 width:160px;
 *text-align:center;
	text-shadow:1px 1px 0px #4d2000;
	border:1px solid #ce9870;
}

#div-contenedor-fitro table td.actions input:hover {
	background-position:0 bottom;
}

#div-contenedor-grid{
	padding:10px 0;
}