<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Servicios Wamtech - Sistema de monitoreo de medidores el&eacute;ctricos</title>	
		<!-- css -->
		<link type="text/css" href="css/style.css" rel="stylesheet" />
		<!-- js -->
		<script type="text/javascript" src="js/jquery/core/jquery-1.5.1.min.js"></script>
	</head>
	<body style="background-color: #D9DBDC;">
        <table style="margin-top: 100px;" width="760" height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="746" align="center">
        	<form id="form-login" action="main.htm?perform=remarcador" method="post">
                <table width="465" height="290" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="center" id="tbl-login" valign="top"><table width="90%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td><img src="images/logo_wam.png" width="136" height="51" vspace="30"></td>
                        </tr>
                      </table>
                      <table width="90%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                              <td width="349" style="font-weight: bold; color: #FF0066">
        					Bienvenido a los Servicios de Wamtech		
                              </td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                      </table>
                      <br>
                      <table width="75%" border="0" cellpadding="5" cellspacing="1">
                        <tr>
                          <td width="37%" height="30"><b>Nombre de Usuario:</b></td>
                          <td width="63%" height="30" align="left"> <input name="usuario" id="txt-usuario" type="text">
                          </td>
                        </tr>
                        <tr>
                          <td height="30"><b>Contrase&ntilde;a:</b></td>
                          <td height="30" align="left"> <input name="password" id="txt-password" type="password">
                          </td>
                        </tr>
                        <tr>
                          <td align="center">&nbsp;</td>
                          <td><input name="Submit" type="button" value="Continuar" id="btn-continuar"></td>
                        </tr>
                      </table>
        			  <div  style="color: red;  margin-top: -20px;" id="errores-acceso" align="justify"></div>
                    </td>            
                  </tr>
                </table>
              </form></td>
          </tr>
        </table>
        <table width="465" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td align="right"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Wireless
              &amp; Mobile Technologies &copy; 2004-2011&nbsp;&nbsp;&nbsp;</font></td>
          </tr>
        </table>
    </body>
</html>
<script type="text/javascript" src="js/remarcador/login/login.js"></script>