<div align="center">
	<font size="1" face="Verdana, Arial, Helvetica, sans-serif">
    	Wamtech - Wireless and Mobile Technologies - &#169; 2004-2011<br/>
    	Av. Jos&eacute; Arrieta 6323, Pe&ntilde;alol&eacute;n, Santiago - Chile. Tel&eacute;fonos: +56-2-2279934 / +56-2-2266063
    </font>	
</div>